<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fcu.ToDolist</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.221079984807-jac1p2o47ol60ba3mkngdnbktkqmhu2n</string>
			</array>
		</dict>
	</array>
	<key>GeminiApiKey</key>
	<string>$(GeminiApiKey)</string>
	<key>GeminiApiUrl</key>
	<string> $(GEMINI_API_URL)</string>
</dict>
</plist>
